<html>
<head>
    <title>ConvertMyMoney</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>  

        <form class="box" method="GET" action="/cotacao">
            <h1>
                <a href="/">ConvertMyMoney</a>
                <img src="/img/icon.ico" alt="money">
            </h1>