<%- include('header') %>

    <input name="cotacao" type="text" placeholder="Informe a Cotação" value="<%= cotacao %>"><br>
    <input name="quantidade" type="text" placeholder="Informe a Quantidade"><br>
    <button>Convert</button>

<%- include('footer') %>